# Ignore everything
*

# But not these files...
!.gitignore
!*.cc
!*.ned
!*.docx
!*.pdf
!*.ppt
!*.pptx
!*.doc
!*.xlsx
!*.md

# Pictures
!*.jpg
!*.png
!*.jpeg

# Quartus files
!*.vhdl
!*.vhd
!*.v
!*.verilog
!*.qsf
!*.sof

# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*